* {
  user-select: none;
}
.inputContainer {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 10px;
  grid-template-rows: repeat(4, 50px);
  grid-template-areas:
    "input7 input8 input9 inputDivision"
    "input4 input5 input6 inputMultiplication"
    "input1 input2 input3 inputSubtraction"
    "inputAllClear input0 inputEnter inputAddition";
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 14px;
  background: #F0F3F6;
  box-shadow:  5px 5px 10px #ced1d4,
               -5px -5px 10px #ffffff;
}

.displayContainer {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 150px;
  border-radius: 14px;
  background: #F0F3F6;
  box-shadow: inset 5px 5px 24px #ced1d4,
              inset -5px -5px 24px #ffffff;
}
.displayText {
  text-align: right;
  line-height: 150px;
  font-family: "Gruppo";
}
.inputContainer {
  margin-bottom: 20px;
}
.inputBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gruppo";
  font-weight: 800;
  font-size: 20px;
  color: #1e1e1e;
  border-radius: 14px;
  background: #F0F3F6;
  box-shadow:  5px 5px 16px #cccfd1,
               -5px -5px 16px #ffffff;
}
.inputBtnBlack {
  background: #303030
}
.input0 {
  grid-area: input0;
}
.input1 {
  grid-area: input1;
}
.input2 {
  grid-area: input2;
}
.input3 {
  grid-area: input3;
}
.input4 {
  grid-area: input4;
}
.input5 {
  grid-area: input5;
}
.input6 {
  grid-area: input6;
}
.input7 {
  grid-area: input7;
}
.input8 {
  grid-area: input8;
}
.input9 {
  grid-area: input9;
}
.inputAddition {
  background-color: black;
  color: white;
  grid-area: inputAddition;
}
.inputSubtraction {
  background-color: black;
  color:white;
  grid-area: inputSubtraction;
}
.inputMultiplication {
  background-color: black;
  color:white;
  grid-area: inputMultiplication;
}
.inputDivision {
  background-color: black;
  color:white;
  grid-area: inputDivision;
}
.inputAllClear {
  grid-area: inputAllClear;
}
.inputEnter {
  grid-area: inputEnter;
}
